<div class="canvas-wrapper">
    <canvas id="gridCanvas"></canvas>
    <div id="htmlUiLegacy" class="hidden">
        <div id="moneyChangeDisplay"></div>
        <div id="totalDisplay">$0.00</div>
        <div id="plantDropdowns">
            <button id="plantCropButton" type="button"></button>
            <span id="plantCropLabel"></span>
            <img id="plantCropImage" alt="Crop" />
            <div id="plantCropMenu"></div>
            <button id="plantSizeButton" type="button"></button>
            <span id="plantSizeLabel"></span>
            <div id="plantSizeMenu"></div>
        </div>
        <div id="buildDropdowns">
            <button id="buildSelectButton" type="button"></button>
            <img id="buildSelectImage" alt="Build" />
            <span id="buildSelectLabel"></span>
            <div id="buildSelectMenu"></div>
        </div>
        <div id="landscapeDropdowns">
            <button id="landscapeSelectButton" type="button"></button>
            <img id="landscapeSelectImage" alt="Landscape" />
            <span id="landscapeSelectLabel"></span>
            <div id="landscapeSelectMenu"></div>
        </div>
        <button id="modePlantBtn" type="button"></button>
        <button id="modeLandscapeBtn" type="button"></button>
        <button id="modeBuildBtn" type="button"></button>
        <button id="modeTradeBtn" type="button"></button>
    </div>
</div>
